# Python - Strings

# 1. String Operations

In [1]:
a = "Hello"
b = "World"
print(a + " " + b)

Hello World

In [2]:
c = "over"
d = "the"
e = "rainbow"
text = " ".join([a,b,c,d,e])

In [3]:
text

'Hello World over the rainbow'

Splitting strings

In [4]:
text.split(" ")

['Hello', 'World', 'over', 'the', 'rainbow']

In [5]:
#whitespace is the default
text.split()

['Hello', 'World', 'over', 'the', 'rainbow']

Strip trailing or leading whitespace

In [6]:
f = " Hello World "

In [7]:
f.strip()

'Hello World'

In [8]:
f.rstrip()

' Hello World'

In [9]:
f.lstrip()

'Hello World '

In [10]:
f.replace(" ", "")

'HelloWorld'

Removing case senstitivity

In [11]:
g = ["India", "ice", "Dog", "iris", "Bird"]

In [12]:
words_with_i = []
for word in g:
    if word.lower().startswith("i"):
        words_with_i.append(word)

In [13]:
words_with_i

['India', 'ice', 'iris']

Replace Characters

In [14]:
h = "'Hi how are you'"

In [17]:
h

"'Hi how are you'"

In [16]:
print(h)

'Hi how are you'

In [18]:
print("\"Hi how are you\"")

"Hi how are you"

In [19]:
text_2 = "Hi, World. How?"

In [20]:
text_2

'Hi, World. How?'

In [23]:
(text_2
 .replace(",", "")
 .replace(".", "")
 .replace("?", ""))

'Hi World How'

In [26]:
signs = ",.?"
t = text_2
for char in signs:
    t = t.replace(char, "")

In [27]:
t

'Hi World How'

Removing characters by indentifying patterns. 
Remove the last character of each 'word'

In [33]:
text_2

'Hi, World. How?'

In [29]:
text_2.split(" ")

['Hi,', 'World.', 'How?']

In [32]:
"Instance-"[:-1]

'Instance'

In [34]:
words_only = []
for word in text_2.split(" "):
    words_only.append(word[:-1])

In [35]:
words_only

['Hi', 'World', 'How']

In [36]:
" ".join(words_only)

'Hi World How'

## 2. String Interpolation

In [37]:
name = "Bernd"

In [38]:
print(f"Hi, my name is {name}")

Hi, my name is Bernd

In [41]:
print(f"Hi, my name is {name + '!'}")

Hi, my name is Bernd!

In [42]:
print(f"Hi, my name is {name*5}")

Hi, my name is BerndBerndBerndBerndBernd

Given some table:

| name | fruit | quantity |
|------|-------|----------|
| Bernd | apple | 10000 |
| Vivian | passionfruit| 10 |
| Paul | mango | 70 |

In [43]:
fruits = [{"name": "Bernd",
          "fruit": "apple",
          "quantity": 10000},
         {"name": "Vivian",
          "fruit": "passionfruit",
          "quantity": 10},
         {"name": "Paul",
          "fruit": "mango",
          "quantity": 70}]

In [45]:
fruits

[{'name': 'Bernd', 'fruit': 'apple', 'quantity': 10000},
 {'name': 'Vivian', 'fruit': 'passionfruit', 'quantity': 10},
 {'name': 'Paul', 'fruit': 'mango', 'quantity': 70}]

In [46]:
for student in fruits:
    print(f"{student['name']} has {student['quantity']} {student['fruit']}.")

Bernd has 10000 apple.
Vivian has 10 passionfruit.
Paul has 70 mango.

Add control flow for plural, using a ternary operator

In [47]:
a = 10
print("singular" if a == 1 else "plural")

plural

In [48]:
if a == 1:
    print("singular")
else:
    print("plural")

plural

In [51]:
for student in fruits:
    print(f"{student['name']} has {student['quantity']} {student['fruit']}\
{'s' if student['quantity'] > 1 else ''}.")

Bernd has 10000 apples.
Vivian has 10 passionfruits.
Paul has 70 mangos.

## 21. Using string interpolation to debug
Iterating over a dictionary

In [52]:
ex = {"tree": "leaf",
     "fruit": "mango", 
     "operating system": "mac",
     "animal": "panda"}

In [53]:
ex["animal"]

'panda'

In [58]:
i = 1
for entry in ex:
    print(f"This is the {i}. interation.")
    i += 1
    print(f"entry is of type {type(entry)}.")
    print(entry)
    print(f"The value is: {ex[entry]}.")
    print("-------------------------\n")

This is the 1. interation.
entry is of type <class 'str'>.
tree
The value is: leaf.
-------------------------

This is the 2. interation.
entry is of type <class 'str'>.
fruit
The value is: mango.
-------------------------

This is the 3. interation.
entry is of type <class 'str'>.
operating system
The value is: mac.
-------------------------

This is the 4. interation.
entry is of type <class 'str'>.
animal
The value is: panda.
-------------------------

Alternatively:

In [59]:
ex.items()

dict_items([('tree', 'leaf'), ('fruit', 'mango'), ('operating system', 'mac'), ('animal', 'panda')])

In [60]:
type(ex.items())

dict_items

In [61]:
list(ex.items())

[('tree', 'leaf'),
 ('fruit', 'mango'),
 ('operating system', 'mac'),
 ('animal', 'panda')]

In [62]:
for entry in ex.items():
    print(entry)

('tree', 'leaf')
('fruit', 'mango')
('operating system', 'mac')
('animal', 'panda')

In [63]:
fish = (1, 2)
print(fish[0])
print(fish[1])

1
2

In [65]:
for entry in ex.items():
    print(f"The key is: {entry[0]}.")
    print(f"The value is: {entry[1]}.")
    print("---------------\n")

The key is: tree.
The value is: leaf.
---------------

The key is: fruit.
The value is: mango.
---------------

The key is: operating system.
The value is: mac.
---------------

The key is: animal.
The value is: panda.
---------------

Using tuple decomposition / tuple unpacking

In [66]:
fish

(1, 2)

In [67]:
fish_one, fish_two = fish

In [68]:
print(fish_one)
print(fish_two)

1
2

In [69]:
t = ("x", "y", "z")
a = t[0]
b = t[1]
c = t[2]

In [71]:
a, b, c, = t
print(f"{a}, {b}, {c}")

x, y, z

In [72]:
for key, value in ex.items():
    print(f"The key is {key}.")
    print(f"The value is {value}.")

The key is tree.
The value is leaf.
The key is fruit.
The value is mango.
The key is operating system.
The value is mac.
The key is animal.
The value is panda.